body {
    font-family: Arial, sans-serif;
    background-color: #2761d6;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #f3efef;
    font-weight: bold;
}

input {
    padding: 8px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #888;
}

button {
    padding: 8px 12px;
    background-color: #ca45b4;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: inline-block;
    text-align: left;
}

#result img {
    max-width: 200px;
    margin-top: 10px;
    border-radius: 8px;
}
